@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
  font-family:'Hindi';
  src: url('../fonts/font1.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 5px;
  
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.gradient-bg{
  background-image: linear-gradient( 90deg, #f9d976, #f39f86);
  height: 400px;
  width:100%;
  overflow-y: hidden;
}

.content-top{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 130px;
  font-family:hindi;
  font-size:40px;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color:whitesmoke;
}

header {
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

.logo{
  transition: .5s ease;
  position: relative;
  left: 46%;
  width: 70px;
  height:70px;
}

.logo:hover{
  opacity: 0.6;
  cursor: pointer;
}

.contact-button{
  padding: 5px 25px;
  border: none;
  border-radius:  50px 25px;
  cursor: pointer;
  height: 35px;
  width: 150px;
  background-image: linear-gradient( 90deg, #f9d976, #f39f86);
}


.main{
  background-image: url('../assets/background.png');
  width: 100%;
  height: 2800px;
  overflow-y: hidden;
}

.mon1 , .mon2 , .mon3 , .mon4 , .mon5{
  display: grid;
  grid-template-areas: "heading content pic";
  grid-template-columns: 1fr 5fr 3fr;
  grid-auto-rows: minmax(100px auto);
  grid-auto-columns: minmax(100px auto);
  margin-bottom: 5%;
}

.mon1{
  margin-top: 2%;
}

.mon1-content,.mon2-content,.mon3-content,.mon4-content,.mon5-content{
  grid-area: content;
}

.mon1-pic,.mon2-pic,.mon3-pic,.mon4-pic,.mon5-pic{
  grid-area: pic;
}

.mon1-heading, .mon2-heading , .mon3-heading, .mon4-heading, .mon5-heading{
  grid-area: heading;
}

.pic{
  left: 15%;
  bottom:20px;
}

.loc{
  top: 60px;
}

.det{
  top:40px;
}

p.main-text{
  color: #454444;
  font-family: hindi;
  position: relative;
  text-align: center;
  bottom: -0.2%;
  font-size: 30px;
}

span.India{
  color: #454444;
  font-family: hindi;
  position: relative;
  text-align: center;
  font-size: 125%;
}

h1.taj-mahal-heading{
  color: #454444;
  font-family: Lato;
  position: relative;

}

p.taj-mahal-text{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 20px;
}

.taj-mahal-pic{
  position: relative;

  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-taj-mahal{
  list-style: none;
  position: relative;
  font-family: poppins;

}

.details-taj-mahal li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}

.details-taj-mahal li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-taj-mahal li p:hover{
  color: #7D7A7A;
}

.taj-mahal-location{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 150%;
}

.red-fort-heading{
  color: #454444;
  font-family: Lato;
  position: relative;

}

p.red-fort-text{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 20px;
}

.red-fort-pic{
  position: relative;

  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-red-fort{
  list-style: none;
  position: relative;

  font-family: poppins;
}

.details-red-fort li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-red-fort li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-red-fort li p:hover{
  color: #7D7A7A;
}

.red-fort-location{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 150%;
}

h1.qutab-minar-heading{
  color: #454444;
  font-family: Lato;
  position: relative;

}

p.qutab-minar-text{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 20px;
}

.qutab-minar-pic{
  position: relative;

  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-qutub-minar{
  list-style: none;
  position: relative;

  font-family: poppins;
}

.details-qutub-minar li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-qutub-minar li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-qutub-minar li p:hover{
  color: #7D7A7A;
}

.qutub-minar-location{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 150%;
}

h1.lotus-temple-heading{
  color: #454444;
  font-family: Lato;
  position: relative;

}

p.lotus-temple-text{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 20px;
}

.lotus-temple-pic{
  position: relative;

  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-lotus-temple{
  list-style: none;
  position: relative;
  font-family: poppins;

}

.details-lotus-temple li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-lotus-temple li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-lotus-temple li p:hover{
  color: #7D7A7A;
}

.lotus-temple-location{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 150%;
}

h1.sanchi-stupa-heading{
  color: #454444;
  font-family: Lato;
  position: relative;

}

p.sanchi-stupa-text{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 20px;
}

.sanchi-stupa-pic{
  position: relative;

  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-sanchi-stupa{
  list-style: none;
  position: relative;
  font-family: poppins;

}

.details-sanchi-stupa li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-sanchi-stupa li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}
.details-sanchi-stupa li p:hover{
  color: #7D7A7A;
}
p.sanchi-stupa-location{
  color: #454444;
  font-family: poppins;
  position: relative;

  font-size: 150%;
}

h1.contact-heading{
  font-size: xx-large;
  font-family: poppins;
  position: relative;
  top: -290px;
  left: 35%;
}
.contact{
  width: 500px;
  left: 85%;
  top: -110px;
  transform: translate(-50%, -50%);
  position: relative;
}

form{
  margin: 35px;

}
.input-field{
  width: 400px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
  font-family: poppins;
}

.textarea-field{
  height: 150px;
  padding-top: 10px;
  font-family: poppins;
  resize: none;
}
.send-contact{
  border-radius: 20px;
  color: #777;
  margin-top: 18px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
  border: none;
  cursor: pointer;
  font-family: poppins;
}

footer{
  background: whitesmoke ;
  position: relative;
  width: 100%;
  color: black;
  text-align: center;
  height: 430px;
  overflow-y: hidden; 
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}

h4.footer-heading{
  font-family: poppins;
  font-size: 50px;
}

h4.footer-text{
  font-family: poppins;
  overflow-y: hidden;
  font-size: 20px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  width: 100%;

}
.socials li{
  margin: 0 10px;

}
.socials a{
  text-decoration: none;
  color: #454444;
  bottom: 45px;
}
.socials a i{
  font-size: 35px;
  transition: color .4s ease;
  overflow-y: hidden;
}
.socials a:hover i{
  color: #7D7A7A;
}

.footer-content h3{
  background: whitesmoke ;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  background: whitesmoke ;
  max-width: 500px;
  margin: 1px auto;
  line-height: 15px;
  font-size: 14px;
}






