@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 5px;
  
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.gradient-bg{
  background-image: linear-gradient( 90deg, #f9d976, #f39f86);
  height: 400px;
  width:100%;
}

.content-top{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 130px;
  font-family:poppins;
  font-size:x-large;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color:whitesmoke;
}

header {
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

.nav__links {
  list-style: none;
  font-family: poppins;
}

.nav__links li {
  display: inline-block;
  padding: 0px 40px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
}

.nav__links li a:hover{
  color: #7D7A7A;
}

.contact-button{
  padding: 5px 25px;
  border: none;
  border-radius:  50px 25px;
  cursor: pointer;
  background-image: linear-gradient( 90deg, #f9d976, #f39f86);
}


.main{
  background-image: url('../assets/background.png');
  width: 100%;
  height: 3800px;
  overflow-y: hidden;
}




p.main-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  text-align: center;
  bottom: -0.2%;
  font-size: 22px;

}
span.India{
  color: #454444;
  font-family: poppins;
  position: relative;
  text-align: center;
  font-size: 125%;
}

h1.taj-mahal-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: 1%;
}

p.taj-mahal-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 13.5%;
  top: 0.5%;
  font-size: 20px;
}

.taj-mahal-pic{
  position: relative;
  left: 70%;
  top: -0.5%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-taj-mahal{
  list-style: none;
  position: relative;
  font-family: poppins;
  top: -8.6%;
  left: 8%;
}

.details-taj-mahal li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}

.details-taj-mahal li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-taj-mahal li p:hover{
  color: #7D7A7A;
}

.taj-mahal-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 15%;
  top: -8%;
  font-size: 150%;
}

.red-fort-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: -1.4%;
}

p.red-fort-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 15%;
  top: -1.8%;
  font-size: 20px;
}

.red-fort-pic{
  position: relative;
  left: 70%;
  top: -1.5%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-red-fort{
  list-style: none;
  position: relative;
  top: -10.8%;
  left: 7%;
  font-family: poppins;
}

.details-red-fort li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-red-fort li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-red-fort li p:hover{
  color: #7D7A7A;
}

.red-fort-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 11%;
  top: -9.7%;
  font-size: 150%;
}

h1.qutab-minar-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: -1.7%;
}

p.qutab-minar-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 17%;
  top: -2.2%;
  font-size: 20px;
}

.qutab-minar-pic{
  position: relative;
  left: 70%;
  top: -2.3%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-qutub-minar{
  list-style: none;
  position: relative;
  top: -11%;
  left: 10%;
  font-family: poppins;
}

.details-qutub-minar li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-qutub-minar li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-qutub-minar li p:hover{
  color: #7D7A7A;
}

.qutub-minar-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 15%;
  top: -9.8%;
  font-size: 150%;
}

h1.lotus-temple-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: -2.3%;
}

p.lotus-temple-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 17%;
  top: -2.9%;
  font-size: 20px;
}

.lotus-temple-pic{
  position: relative;
  left: 70%;
  top: -3.3%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-lotus-temple{
  list-style: none;
  position: relative;
  font-family: poppins;
  top: -12%;
  left: 7%;
}

.details-lotus-temple li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-lotus-temple li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}

.details-lotus-temple li p:hover{
  color: #7D7A7A;
}

.lotus-temple-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 9%;
  top: -10.3%;
  font-size: 150%;
}

h1.sanchi-stupa-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: -3.5%;
}

p.sanchi-stupa-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 17%;
  top: -4%;
  font-size: 20px;
}

.sanchi-stupa-pic{
  position: relative;
  left: 70%;
  top: -4.3%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-sanchi-stupa{
  list-style: none;
  position: relative;
  font-family: poppins;
  top: -2.5%;
  left: 8%;
}

.details-sanchi-stupa li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.details-sanchi-stupa li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}
.details-sanchi-stupa li p:hover{
  color: #7D7A7A;
}
p.sanchi-stupa-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 15%;
  top: -11.4%;
  font-size: 150%;
}

h1.open-hand-monument-heading{
  color: #454444;
  font-family: Lato;
  position: relative;
  left: 2%;
  top: -4.4%;
}

p.open-hand-monument-text{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 25%;
  top: -5%;
  font-size: 20px;
}

.open-hand-monument-pic{
  position: relative;
  left: 70%;
  top: -5.3%;
  border-radius: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.open-hand-monument-details{
  list-style: none;
  position: relative;
  font-family: poppins;
  top: -13.8%;
  left: 9%;
}

.open-hand-monument-details li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 140%;
}
.open-hand-monument-details li p{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  cursor:pointer;
}
.open-hand-monument-details li p:hover{
  color: #7D7A7A;
}

.open-hand-monument-location{
  color: #454444;
  font-family: poppins;
  position: relative;
  left: 15%;
  top: -12%;
  font-size: 150%;
}

h1.contact-heading{
  font-size: xx-large;
  font-family: poppins;
  position: relative;
  top: -315px;
  left: 35%;
}
.contact{
  width: 500px;
  left: 85%;
  top: -140px;
  transform: translate(-50%, -50%);
  position: relative;
}

form{
  margin: 35px;

}
.input-field{
  width: 400px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  font-family: poppins;
}

.textarea-field{
  height: 150px;
  padding-top: 10px;
  font-family: poppins;
}
.send-contact{
  border-radius: 20px;
  color: #777;
  margin-top: 18px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
  border: none;
  cursor: pointer;
  font-family: poppins;
}

footer{
  background: whitesmoke ;
  position: relative;
  width: 100%;
  color: black;
  text-align: center;
  height: 380px;
  overflow-y: hidden; 
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}

h4.footer-heading{
  font-family: poppins;
  font-size: 50px;
}

h4.footer-text{
  font-family: poppins;
  overflow-y: hidden;
  font-size: 20px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  width: 100%;

}
.socials li{
  margin: 0 10px;

}
.socials a{
  text-decoration: none;
  color: #454444;
  bottom: 45px;
}
.socials a i{
  font-size: 35px;
  transition: color .4s ease;
  overflow-y: hidden;
}
.socials a:hover i{
  color: #7D7A7A;
}

.footer-content h3{
  background: whitesmoke ;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  background: whitesmoke ;
  max-width: 500px;
  margin: 1px auto;
  line-height: 15px;
  font-size: 14px;
}



.links {
  list-style: none;
  font-family: poppins;
  position: relative;
  top: -5px;
}

.links li {
  display: inline-block;
  padding: 0px 40px;
}

.links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #454444;
  font-size: 20px;
}

.links li a:hover{
  color: #7D7A7A;
}



